* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  color: #333;
  font-family: 'Open Sans', sans-serif;

  margin: 0;
  padding: 1px !important;

  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 0.5em;
  font-weight: 300;
}

p {
  margin: 0.8em 0;

  &.important {
    background: rgba(#fdd, 0.5);
    border: 1px solid;
    color: #b44;
    display: inline-block;
    padding: 0.8em 1em;
  }
}

strong {
  opacity: 0.9;
}

label {
  cursor: pointer;
}

.grey {
  font-size: 0.8em;
  opacity: 0.8;
}

.update {
  color: red;
  margin-top: 3em;
}

button, .button {
  $color: #4682B4;
  background: $color;
  border: 1px solid darken($color, 15);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0 0;
  padding: 0.5em 1em 0.6em;
  text-decoration: none;

  transition: background 0.3s, color 0.3s;

  &:hover {
    background: darken($color, 10);
  }

  &.secondary {
    background: mix(white, $color, 70);
    border-color: mix(white, $color, 40);
    color: $color;

    &:hover {
      background: mix(white, $color, 50);
      color: darken($color, 15);
    }
  }

  &.tertiary {
    background: #ccc;
    border-color: #aaa;
    color: #666;
    font-size: 1em;

    &:hover {
      background: #aaa;
      border-color: #888;
      color: black;
    }
  }

  &.small {
    font-size: 1em;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background: #eee;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 0.5em 0.5em 0;

  .addthis_toolbox {
    display: inline-block;
    min-width: 350px;
  }

  .credit {
    float: right;
  }


  @media (max-width: 500px) {
    .credit {
      float: none;
    }
    .addthis_toolbox {
      display: block;
      min-width: 0px;
    }
  }
}

/* Find Stuff */
$padding: 1em;
#animal {
  display: none;
  position: absolute;

  background: url(/images/cow-sprite.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 0.5s, height 0.5s, left 0.5s, top 0.5s;

  height: 233px;
  width: 320px;

  top: 30%;
  left: -webkit-calc(50% - 320px/2);
  left: calc(50% - 320px/2);

  z-index: 1;

  &.small {
    height: 58px;
    width: 80px;
  }
  &.moo {
    background-position: 0 -233px;
  }

  &[data-animal="goat"] {
    background-image: url(/images/goat-sprite.png);
  }

  &[data-animal="fox"], &.moo[data-animal="fox"] {
    background-image: url(/images/fox-sprite.png);
  }
}

[id^=modal-], .noscript {
  display: none;

  background: #eee;
  border: 1px solid #ddd;
  margin: 10%;
  padding: 2em;
  position: relative;

  @media (max-width: 500px) {
    margin: 5%;
    text-align: center;
  }

  #quote {
    opacity: 0.5;
    text-align: center;

    position: absolute;
    left: 24em;
    top: 1em;
    right: 1em;

    &:before, &:after {
      content: '"';
    }

    transform: rotate(8deg);

    @media (max-width: 800px) {
      display: none;
    }
    @media (min-width: 1000px) {
      left: auto;
      max-width: 26em;
    }
  }

  .beer {
    margin-top: 0;
    position: absolute;
    top: 1em;
    right: 1em;
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.noscript {
  display: block;
  font-size: 2em;
}

#stats {
  position: absolute;
  top: $padding;
  right: $padding;
  z-index: 1;

  .feedback, .total {
    border-bottom: 1px solid #eee;
    color: #ccc;
    font-size: 0.8em;
    margin-right: 0.4em;
    padding-bottom: 0.2em;
    text-align: right;
  }

  .feedback {
    a {
      color: inherit;
      text-decoration: inherit;
      &:hover {
        color: #666;
        text-decoration: underline;
      }
    }
  }

  .total {
    &:before {
      content: 'Cows found globally: ';
    }
  }

  .points {
    color: #ccc;
    font-size: 4em;
    font-weight: 300;
    margin-top: 0;
    text-align: right;

    &:before {
      content: 'Your Points';
      display: block;
      font-size: 0.2em;
      margin-bottom: -1.5em;
      margin-right: 0.4em;
    }
  }

  .more .key {
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
    width: 5em;
  }


  @media (max-width: 570px) {
    .modalOpen & {
      display: none;
    }
  }
}

#loader {
  &.loading {
    background: white;
    border: 1px solid #ccc;
    height: 20px;

    #loader-inner {
      background: #bbb;
      height: 100%;
    }
  }
}

.note {
  font-size: 0.8em;
  margin: 2em 0 0;
}